/* txt standard */
$txt_size: 1; // Valore base senza unità
$txt_delta: 0.2; // Incremento per ogni intestazione, senza unità
$txt_unit: rem; // Unità di misura scelta
$txt_family: 'Roboto', sans-serif;

/* footer */
$footer-background-color: #1f1c1c;
$footer_txt_color: rgb(155, 235, 255);

/* header */
$header-background-color-light: #dde9ff;
$header-background-color-dark: #02002d;
$header-txt-color-light: #02002d;
$header-txt-color-dark: #dde9ff;
$header-login-light: #02002d;
$header-login-dark: #dde9ff;
$header-login-hover-light: #5b52ff;
$header-login-hover-dark: #7996ff;
$header-login-txt-color-light: #dae7ff;
$header-login-txt-color-dark: #02002d;
$header-signup-light: #b1b1b1;
$header-signup-dark: #535353;
$header-signup-hover-light: #969696;
$header-signup-hover-dark: #969696;
$header-signup-txt-color-light: #131313;

$header-txt-color-light-selected: #05006b;
$header-txt-color-dark-selected: #7996ff;
$header-txt-color-hover-light: #070094;
$header-txt-color-hover-dark: #3a57c3;
