/* txt standard */
$txt_size: 1; // Valore base senza unità
$txt_delta: 0.2; // Incremento per ogni intestazione, senza unità
$txt_unit: rem; // Unità di misura scelta
$txt_family: 'Roboto', sans-serif;

/* footer */
$footer-background-color: #1f1c1c;
$footer_txt_color: rgb(155, 235, 255);