@import "configParam";
@import "standard";

/* start the standard stylink */
header{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $header-background-color-light;

    .link-image{
        height: 100%;
        width: 30vw;

        img{
            height: 100%;
        }
    }
    
    .center-nav, .right-nav ul, .menu{
        display: flex;
        flex-direction: row;
    }

    .hamburger-open, .hamburger-close, .account-open, .account-close{
        display: none;
        color: $header-txt-color-light;
        text-decoration: none;
    }

    ul{
        list-style-type: none;
        gap: 50px;
    }

    ul li a{
        text-decoration: none;
        color: $header-txt-color-light;
        font-size: $header-txt-font-size;

        &:hover{
            color: $header-txt-color-hover-light;
        }

        /* modify font-size for phone viewport */
        @media only screen and (max-width: 768px), only screen and (min-resolution: 2dppx){
            font-size: $txt_size_phone + $txt_unit;
        }
        
    }

    .selected{
        text-decoration: underline;
        color: $header-txt-color-light-selected;
    }

    .center-nav{
        width: 40vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .right-nav{
        position: relative;
        left: -3vw;
        width:30vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        @media only screen and (max-width: 768px), only screen and (min-resolution: 2dppx){
            left: -5vw;
        }

        .login{
            background-color: $header-login-light;
            padding: 15px;
            border-radius: 10px;
            color: $header-login-txt-color-light;

            &:hover{
                background-color: $header-login-hover-light;
                color: $header-login-txt-color-dark;
            }
        }

        .signup{
            background-color: $header-signup-light;
            padding: 15px;
            border-radius: 10px;
            color: $header-signup-txt-color-light;

            &:hover{
                background-color: $header-signup-hover-light;
                color: $header-signup-txt-color-light;
            }
        }

        ul{
            gap: 20px;
        }

        /* styling of toggle button */
        .toggle-container {
            position: relative;
            width: 40px;
            height: 20px;
            border-radius: 10px;
            border: 1px solid $header-txt-color-light;
            cursor: pointer;
            transition: background-color 0.3s;
            overflow: hidden;
            display: flex;
            align-items: center;
            margin-right: 20px;

            @media only screen and (max-width: 768px), only screen and (min-resolution: 2dppx){
                width: 60px;
                height: 30px;
                border-radius: 15px;
            }
        
            .toggle-link {
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                text-decoration: none;
                display: flex;
                align-items: center;
        
                .toggle {
                    position: relative;
                    top: 1px;
                    left: 1px;
                    width: 16px;
                    height: 16px;
                    background-color: $header-txt-color-light;
                    border: 1px solid $header-txt-color-dark;
                    border-radius: 50%;
                    transition: transform 0.3s;

                    @media only screen and (max-width: 768px), only screen and (min-resolution: 2dppx){
                        top: 0px;
                        left: 0px;
                        width: 28px;
                        height: 28px;
                        border: 2px solid $header-txt-color-dark;
                    }
                }
        
                .close {
                    display: none; // hide close link by default
                }
            }
        
            /* when .toggle-container is the target */
            &:target {
                background-color: $header-background-color-dark;
        
                .toggle-link.open {
                    display: none; // hide the open link
                }
        
                .toggle-link.close {
                    display: block; // shows the close link
                }
        
                .toggle-link.close .toggle {
                    left: 50%;
                }
            }
        
            /* default status: shows only open link */
            .toggle-link.open {
                display: block;
            }
        
            .toggle-link.close {
                display: none;
            }
        }
    } 

    @media only screen and (max-width: 1024px), only screen and (min-resolution: 2dppx){
        .hamburger-open, .account-open{
            display: flex;
        }
    
        #menu{
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 10vh;
            left: 0vw;
            width: 100vw;
            max-height: 0vh;
            overflow: hidden;
            gap: 0px;
            border-radius: none;

            li{
                width: 100%;
                height: 10vh;

                a{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-bottom: 1px solid $header-txt-color-light;
                }
            }
        }

        #menu{
            background-color: $header-background-color-light;
        }

        #center-nav:target #menu{
            max-height: 90vh;
        }

        #center-nav:target .hamburger-open{
            display: none;
        }

        #center-nav:target .hamburger-close{
            display: flex;
        }

        #center-nav{
            height: 100%;

            .hamburger-open, .hamburger-close{
                height: 100%;
                align-items: center;
            }
        }

        .right-nav{
            height: 100%;

            .account-open, .account-close{
                height: 100%;
                align-items: center;
            }

            .login, .signup{
                border-radius: 0px;
                padding: 0px;
            }
        }

        #right-nav:target #login-menu{
            max-height: 90vh;
        }

        #right-nav:target .account-open{
            display: none;
        }

        #right-nav:target .account-close{
            display: flex;
        }


        #login-menu{
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 10vh;
            left: -65vw;
            width: 100vw;
            max-height: 0vh;
            overflow: hidden;
            gap: 0px;

            li{
                width: 100%;
                height: 10vh;

                a{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}

