@import "standard";
@import "configParam";

main {
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $standard-white;
    /* background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */

    .container{
        display: flex;
        width: 80%;
        max-width: 600px;
        flex-direction: column;
        background-color: $header-background-color-dark;
        padding: 20px;
        border-radius: 10px;
        gap: 20px;
        margin: 10vh 0px;
        border: 1px solid $header-background-color-dark;

        @media only screen and (max-width: 1024px), only screen and (min-resolution: 2dppx){
            gap: 2vh;
            max-width: none;
            padding: 40px;
            border-radius: 20px;

            label, input, select{
                font-size: 2rem;
            }
        }

        input, select{
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: $login-element-bg-color;

            @media only screen and (max-width: 1024px), only screen and (min-resolution: 2dppx){
                padding: 30px;
                border-radius: 15px;
            }
        }

        input:focus, select:focus {
            background-color: $login-element-bg-color-focus; 
        }

        input:not(:placeholder-shown), select:not(:placeholder-shown) {
            background-color: $login-element-bg-color-compiled; 
        }

        input[type="submit"]{
            background-color: $header-login-dark;
            color: $header-login-txt-color-dark;
            cursor: pointer;
            font-size: 1rem;

            &:hover{
                color: $header-login-txt-color-light;
                background-color: $header-login-hover-dark;
            }

            @media only screen and (max-width: 1024px), only screen and (min-resolution: 2dppx){
                font-size: 2rem;
            }
        }

        h1, label, p{
            color: $header-txt-color-dark;
        }

        h1, p {
            text-align: center;
        }

        a {
            text-align: center;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: $header-login-dark;
            text-decoration: none;
            color: $header-login-txt-color-dark;

            &:hover{
                color: $header-login-txt-color-light;
                background-color: $header-login-hover-dark;
            }

            @media only screen and (max-width: 1024px), only screen and (min-resolution: 2dppx){
                padding: 30px;
                border-radius: 15px;
            }
        }

        .errors{
            color: rgb(251, 90, 90);
            background-color: black;
            padding: 10px;
            border-radius: 5px;
        }

        .access{
            background-color: $header-login-light;
            color: $header-login-txt-color-dark;
            &:hover{
                background-color: $header-login-hover-light;
                color: $header-login-txt-color-light;
            }
        }

        select{
            appearance: none;
        }
    }
}